$navigation-height: 60px;
$navigation-padding: 1em;

header {
  //width: 100%;
  border-bottom: 1px solid yellow;
  /*
  z-index: 999;
  //background-color: #333;
  
  padding-left: $navigation-padding;
  text-align: center;
  display: inline-block;
  
  //min-height: $navigation-height;
  //display: inline-block;
  @include clearfix;
  
  img.brand {
    float: left;
    //max-height: $navigation-height;
    //vertical-align: middle;
    //padding: 0.8em 0;
    border: 1px solid red;
  }
  
  a {
    text-decoration: none;
  }
  
  h1 {
    float: left;
    display: inline;
    //vertical-align: middle;
    border: 1px solid green;
  }
  
  nav {
    border: 1px solid blue;
    //display: inline-block;
    margin-left: 1em;
    //padding-top: auto;
    //padding-bottom: auto;
  }
  
  ul {
    float: left;
    //display: inline-block;
    //display: flex;
    //height: 100px;
    list-style: none;
    border: 1px solid pink;
    //vertical-align: middle;
    @include clearfix;
  }
  
  li {
    float: left;
    //border-top: 5px solid green;
    //padding: 1px;
    //height: 100px;
    
  }
  */
  // XXX
  
  /*
  .brand {
    float: left;
    padding-left: $navigation-padding;
    padding-right: 1em;
    border: 1px solid yellow;
    
    img {
      max-height: $navigation-height;
      //max-height: 10px;
      //min-height: 100px;
      padding: 0.8em 0;
      border: 1px solid red;
      vertical-align: middle;
    }
  
    h1 {
      //display: inline-block;
      display: inline;
      border: 1px solid green;
      vertical-align: middle;
    }
  }
  */
  
  /*
  nav {
    //float: none;
    border: 1px solid green;
    
    ul {
      //margin: 0;
      //padding: 0;
      //list-style: none;
      //clear: both;
      //margin: 0 auto;
      //overflow: visible;
      //padding: 0;
      //width: 100%;
      //z-index: 9999;
    }

    li {
      //display: inline-block;
    }

    a {
      //display: block;
      //padding: 6px 12px;
      //text-decoration: none;
    }
  }
  */
}

footer {
  background-color: #999;
  width: 100%;
  //display: inline-block;
  @include clearfix;
  
  ul {
    float: right;
  }
  
  ul li {
    list-style: none;
    display: inline;
  }
  
  img {
          height: 1.6em;
          opacity: 0.7;
        }
  
  /*
  img {
    @include clearfix;
    display: block;
    height: 60px;
    margin: auto;
  }
  */
}
