extends layout

block content
  div(class='max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8')
    div(class='text-center')
      p(class='mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-4xl') OAuth 2.0 authorization server toolkit for Node.js
      p(class='max-w-xl mx-auto mt-5 text-xl text-gray-500') OAuth2orize is a suite of Express middleware.  Combined with Passport authentication strategies and application-specific route handlers, OAuth2orize can be used to assemble an OAuth 2.0 server, including additional layers such as OpenID Connect.
