doctype html
html(prefix='og: http://ogp.me/ns#', lang='en')
  head
    title= title
    meta(charset='utf-8')
    if description
      meta(name='description', content=description)
    if author && author.name
      meta(name='author', text=author.name)
    link(rel='x-stylesheet', href='https://unpkg.com/spectre.css/dist/spectre.min.css')
    link(rel='x-stylesheet', href='https://unpkg.com/spectre.css/dist/spectre-icons.min.css')
    link(rel='stylesheet', href='/stylesheet.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    link(rel='canonical', href=canonicalURL)

  body
    header#header
      .navbar.container.grid-lg
        section.navbar-section
          a(href='/').navbar-brand.mr-2 OAuth2orize
          a(href='/docs/').btn.btn-link Docs
          a(href='/news/').btn.btn-link News
        section.navbar-section
          form(action='/search')
            .has-icon-left
              span.form-icon.icon.icon-search
              input(type='text', name='q', placeholder='Search').form-input
  
    div
      block content
      
    footer#footer
      .container.grid-lg
        .columns
          .column.col-3
            h5 News
            ul
              li
                a(href='/news/archives') Archives
              li
                a(href='/news/tags') Tags
          .column.col-3
            h5 Community
            ul
              li
                a(href='/news/archives') Stack Overflow
              li
                a(href='/news/tags') Tags
          .column.col-3
            h5 Sponsor
            ul
              li
                a(href='/news/archives') Patreon
              li
                a(href='/news/tags') Tags
          .social.column.col-3
            h5 Social
            ul
              li
                a.fab.fa-facebook(href='https://www.facebook.com/jaredhanson')
                  span Facebook
              li
                a.fab.fa-twitter(href='https://twitter.com/oauth2orize')
                  span Twitter
              li
                a.fab.fa-github(href='https://github.com/jaredhanson/oauth2orize')
                  span GitHub
              li
                a.fab.fa-twitter(href='https://twitter.com/jaredhanson')
                  span Twitter
              li
                a.fab.fa-facebook(href='https://www.facebook.com/jaredhanson')
                  span Facebook
              li
                a.fab.fa-twitter(href='https://twitter.com/jaredhanson')
                  span Twitter
              li
                a.fab.fa-facebook(href='https://www.facebook.com/jaredhanson')
                  span Facebook
              li
                a.fab.fa-twitter(href='https://twitter.com/jaredhanson')
                  span Twitter
              li
                a.fab.fa-facebook(href='https://www.facebook.com/jaredhanson')
                  span Facebook
              li
                a.fab.fa-twitter(href='https://twitter.com/jaredhanson')
                  span Twitter
      .navbar.container.grid-lg
        .navbar-section
          span Copyright &copy; 2019 Jared Hanson. All rights reserved.
        .navbar-section
          span.fas.fa-peace
          span.fas.fa-heart
          span.fas.fa-code
