doctype html
html(prefix='og: http://ogp.me/ns#', lang='en')
  head
    title= title
    meta(charset='utf-8')
    if description
      meta(name='description', content=description)
    if author && author.name
      meta(name='author', text=author.name)
    link(rel='stylesheet', href='https://unpkg.com/spectre.css/dist/spectre.min.css')
    link(rel='canonical', href=canonicalURL)

  body
    header
      nav.navbar
        section.navbar-section
          a(href='/').navbar-brand.mr-2 OAuth2orize
          a(href='/news').btn.btn-link News
        section.navbar-section
          a(href='/').navbar-brand.mr-2 OAuth2orize
          a(href='/docs').btn.btn-link Docs
  
    #container
      block content
